#version={{ __kickstart_file.version }}

# file: {{ template_destpath }}

{% if __kickstart_file.template | default('') | length > 0 %}
{{ __kickstart_file.template }}
{% else %}
{% set __kickstart_hardware = __kickstart_hardware_profiles[__kickstart_file.hardware | default('')] | default({}) %}
# installer basics
{% for __kickstart_command in __kickstart_commands %}
{{ __kickstart_command }}
{% endfor %}
{% if __kickstart_file.target | default('') | length > 0 %}

# installation mode
{{ __kickstart_file.target }}
{% endif %}
{% if __kickstart_file.ignoredisk | default('') | length > 0 %}

# installation disk
{{ __kickstart_file.ignoredisk }}
{% endif %}
{% if __kickstart_file.bootloader | default('') | length > 0 %}

# bootloader configuration
{%  set __kickstart_kernel_args = (__kickstart_hardware.kernel_cmdline | default([])
                                   | map('extract', __kickstart_kernel_cmdline) | flatten)
                                  + (__kickstart_file.kernel_cmdline | default([])) %}
{{ __kickstart_file.bootloader }}{{ ' --append="' ~ (__kickstart_kernel_args | join(' ')) ~ '"' if __kickstart_kernel_args | length > 0 else '' }}
{% endif %}
{% if __kickstart_file.clearpart | default('') | length > 0 %}

# clearpart
{{ __kickstart_file.clearpart }}
{% endif %}
{% if __kickstart_file.url | default('') | length > 0 %}

# installation mirror
{{ __kickstart_file.url }}
{% endif %}
{% if __kickstart_file.repos | default([]) | length > 0 %}

# repository configuration
{%  for __kickstart_repo in __kickstart_file.repos %}
{{ __kickstart_repo }}
{%  endfor %}
{% endif %}
{% if __kickstart_file.partitions | default([]) | length > 0 %}

# partitions
{%  for __kickstart_partition in __kickstart_file.partitions %}
{{ __kickstart_partition }}
{%  endfor %}
{%  if __kickstart_file.btrfs_volumes | default([]) | length > 0 %}

# btrfs volumes
{%      for __kickstart_btrfs_volume in __kickstart_file.btrfs_volumes %}
{{ __kickstart_btrfs_volume }}
{%      endfor %}
{%  endif %}
{%  if __kickstart_file.btrfs_subvolumes | default([]) | length > 0 %}

# btrfs subvolumes
{%      for __kickstart_btrfs_subvolume in __kickstart_file.btrfs_subvolumes %}
{{ __kickstart_btrfs_subvolume }}
{%      endfor %}
{%  endif %}
{%  if __kickstart_file.volgroups | default([]) | length > 0 %}

# volume groups
{%      for __kickstart_volgroup in __kickstart_file.volgroups %}
{{ __kickstart_volgroup }}
{%      endfor %}
{%  endif %}
{%  if __kickstart_file.logvols | default([]) | length > 0 %}

# logical volumes
{%      for __kickstart_logvol in __kickstart_file.logvols %}
{{ __kickstart_logvol }}
{%      endfor %}
{%  endif %}
{% elif __kickstart_file.autopart | default('') | length > 0 %}

# automatic partitioning
{{ __kickstart_file.autopart }}
{% elif __kickstart_file.reqpart | default('') | length > 0 %}

# required partitions
{{ __kickstart_file.reqpart }}
{% endif %}
{% if __kickstart_file.networks | default([]) | length > 0 %}

# network configuration
{%  for __kickstart_network in __kickstart_file.networks %}
{{ __kickstart_network }}
{%  endfor %}
{% endif %}
{% if __kickstart_file.firewall | default('') | length > 0 %}

# firewall
{{ __kickstart_file.firewall }}
{% endif %}
{% if __kickstart_file.services | default('') | length > 0 %}

# services
{{ __kickstart_file.services }}
{% endif %}
{% if __kickstart_file.timezone | default('') | length > 0 %}

# timezone
{{ __kickstart_file.timezone }}
{% endif %}
{% if __kickstart_file.timesource | default('') | length > 0 %}

# timesource: ntp server, pool or disable
{{ __kickstart_file.timesource }}
{% endif %}
{% if __kickstart_file.keyboard | default('') | length > 0 %}

# keyboard
{{ __kickstart_file.keyboard }}
{% endif %}
{% if __kickstart_file.language | default('') | length > 0 %}

# language
{{ __kickstart_file.language }}
{% endif %}
{% if __kickstart_file.selinux | default('') | length > 0 %}

# selinux
{{ __kickstart_file.selinux }}
{% endif %}
{% if __kickstart_file.skipx | default(true) | bool %}

# do not configure x window system
skipx
{% endif %}
{% if __kickstart_file.xconfig | default('') | length > 0 %}

# configure x window system
{{ __kickstart_file.xconfig }}
{% endif %}
{% if __kickstart_file.authselect | default('') | length > 0 %}

# configure authentication
{{ __kickstart_file.authselect }}
{% endif %}
{% if __kickstart_file.groups | default([]) | length > 0 %}

# create user groups
{%  for __kickstart_group in __kickstart_file.groups %}
{{ __kickstart_group }}
{%  endfor %}
{% endif %}
{% if __kickstart_file.users | default([]) | length > 0 %}

# create users
{%  for __kickstart_user in __kickstart_file.users %}
{{ __kickstart_user }}
{%  endfor %}
{% endif %}
{% if __kickstart_file.rootpw | default('') | length > 0 %}

# root password
{{ __kickstart_file.rootpw }}
{% endif %}
{% if __kickstart_file.sshkeys | default([]) | length > 0 %}

# add ssh key(s) to authorized_keys
{%  for __kickstart_sshkey in __kickstart_file.sshkeys %}
{{ __kickstart_sshkey }}
{%  endfor %}
{% endif %}
{% if __kickstart_file.sshpw | default('') | length > 0 %}

# restrict ssh access during installation
{{ __kickstart_file.sshpw }}
{% endif %}
{% if __kickstart_file.realm | default('') | length > 0 %}

# join realm or ad domain
{{ __kickstart_file.realm }}
{% endif %}
{% if __kickstart_file.vnc | default('') | length > 0 %}

# vnc remote access
{{ __kickstart_file.vnc }}
{% endif %}

# packages to install and remove
{% set __kickstart_package_sets = ['all'] + __kickstart_hardware.packages | default([]) %}
%packages {{ __kickstart_packages_options | join(' ') }}
{{ ((__kickstart_package_sets | map('extract', __kickstart_common_packages) | flatten)
    + (__kickstart_package_sets | map('extract', __kickstart_packages) | flatten)
    + (__kickstart_file.packages | default([]))) | join("\n") }}
%end
{% if __kickstart_file.pwpolicies | default([]) | length > 0 %}

# password policies
%anaconda
{%  for __kickstart_pwpolicy in __kickstart_file.pwpolicies %}
{{ __kickstart_pwpolicy }}
{%  endfor %}
%end
{% endif %}

# installer add-ons
{% for __kickstart_addon in __kickstart_addons %}
%addon {{ __kickstart_addon }}
%end
{% endfor %}
{% for __kickstart_script in __kickstart_file.post_scripts | default({}) | dict2items %}
{%  if __kickstart_script.value | bool %}

%post --interpreter=/usr/bin/bash --logfile=/root/anaconda/ks-post-{{ __kickstart_script.key }}.log
{{ lookup('ansible.builtin.file', 'post/' ~ __kickstart_script.key ~ '.sh') }}
%end
{%  endif %}
{% endfor %}
{% if __kickstart_file.post | default('') | length > 0 %}

# post-install actions
%post --log=/root/postinstall.log
{{ __kickstart_file.post }}
%end
{% endif %}
{% if __kickstart_file.finish | default('') | length > 0 %}

# system operation after installation (halt, reboot, poweroff, shutdown)
{{ __kickstart_file.finish }}
{% endif %}
{% endif %}
